body * {
  font-family: Lato, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
select,
textarea {
  outline: none;
}

summary {
  cursor: pointer;
  list-style: none;
}

details {
  -webkit-transition: .3s;
  transition: .3s;
}

h2 {
  font-size: 30px;
}

.centered {
  text-align: center;
}

.top-wrap {
  border-bottom: 1px solid #eee;
}

.pink {
  color: #f16d7f;
  text-transform: uppercase;
}

input#top-search {
  display: none;
}

.breadcrumbs span.pink {
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:hover span {
  font-weight: 400;
}

details.basket {
  margin-right: 20px;
  position: relative;
}

details.basket summary span {
  display: block;
  position: absolute;
  top: -4px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  border-radius: 50%;
}

details.basket .megabox {
  z-index: 10;
  display: block;
  margin: 20px 0 0;
  right: -30px;
  padding-bottom: 20px;
}

details.basket .megabox:before {
  left: unset;
  right: 38px;
}

details.basket .basket-item-rate .fas,
details.basket .basket-item-rate .far {
  color: gold;
}

details.basket .basket-item-name {
  text-transform: uppercase;
}

details.basket .mini-basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

details.basket .mini-basket-item-defs {
  margin-left: 20px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

details.basket .basket-item-annot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

details.basket .mini-basket-total {
  font-size: 16pt;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

details.basket .basket-item-del {
  margin-left: 20px;
  cursor: pointer;
}

details.basket .basket-item-del .fa-times-circle {
  color: #757575;
}

details.basket .basket-item-del .fa-times-circle:hover {
  color: #222;
}

details.basket button#checkout {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

details.basket button#go_to_cart {
  width: 100%;
}

.header__logo a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  margin: 0 13px 0 0;
  height: 51px;
}

.header__logo span.header__logo-name {
  height: 19px;
  font-size: 27px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.68px;
  text-align: center;
  color: #222;
}

.header__logo span.header__logo-name .pink {
  font-weight: 700;
}

.header .fa-search {
  display: none;
}

.header i.fal.fa-user.account {
  display: none;
}

.header .container__inner {
  height: 100px;
}

.header .header__left-part,
.header .header__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header input[type="search"] {
  width: 317px;
  padding: 0 15px;
  border: 1px solid #eee;
  height: 42px;
  border-radius: 0;
  border-right: 0;
}

.header [type="submit"] {
  background: url(img/search.svg) no-repeat 50%/14px;
  padding: 0 15px;
  border: 1px solid #eee;
  height: 42px;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.header .select {
  width: 102px;
  margin: 6px 0 6px 37px;
  padding: 12px 9px 14px 15px;
  border: solid 1px #e6e6e6;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  color: #757575;
  border-radius: 5px 0 0 5px;
  border-right: 0;
  cursor: pointer;
  height: 42px;
  line-height: 1;
}

.header .header__rightmost-part {
  display: none;
}

.header .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header__search-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header label#label-for-menu-check {
  display: block;
}

.header img.burger-img,
.header img.account {
  display: none;
}

.header label {
  margin: auto;
}

.select span {
  display: block;
  padding-right: 20px;
  background: url(img/down.jpg) no-repeat right center;
}

.select span img {
  margin-left: 22px;
}

input#browseControl {
  display: none;
}

#browseControl:checked + label + #suggest {
  display: block;
}

#browseControl:checked + .select span {
  background: url(img/up.png) no-repeat right center;
}

#suggest {
  list-style: none;
}

details #suggest:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-family: "Font Awesome 5 free", sans-serif;
  content: "\f0d7";
  margin-left: 10px;
}

details[open] #suggest:after {
  content: "\f0d8";
}

#div-suggest {
  position: absolute;
  border: 1px solid #eee;
  width: 190px;
  height: auto;
  left: 37px;
  top: 60px;
  background-color: #fff;
  z-index: 2;
  display: block;
  margin: 0;
}

#div-suggest ul {
  padding-left: 20px;
}

#div-suggest li {
  list-style-type: none;
}

#div-suggest li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;
  color: #222;
  display: block;
}

#div-suggest li a:hover {
  color: #f16d7f;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container .container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #f16d7f;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #eee;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

button#my_account {
  padding-right: 10px;
  width: 130px;
  line-height: 1;
}

button#my_account i.fa-sort-down {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

button#my_account:hover i {
  color: #f16d7f;
}

.basket a img {
  margin-right: 26px;
  position: relative;
  top: 5px;
}

.menu {
  height: 51px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul ul {
  list-style: none;
  padding-left: 8px;
  display: block;
  margin-bottom: 25px;
}

.menu ul > li > a:hover {
  color: #333;
  background: #f16d7f;
  border: 1px solid transparent;
  background: #fff;
}

.menu ul ul > li > a {
  text-decoration: none;
  display: block;
  line-height: 32px;
  color: #222;
}

.menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.menu > ul > li > a {
  line-height: 49px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  padding: 0 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.menu ul ul > li > a:hover {
  border: none;
  color: #f16d7f;
}

.menu .menu-list {
  position: relative;
}

.menu label#label-for-menu-check {
  display: block;
}

.menu label#label-for-menu-check img {
  display: none;
}

.menu i.submenu-expand {
  color: #222;
  display: none;
}

.megabox {
  position: absolute;
  background: #fff;
  padding: 20px 20px 0;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  margin-top: -1px;
  display: none;
  z-index: 2;
}

.megabox:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  top: -7px;
  background: #fff;
  left: 32px;
}

.mega-item {
  margin-right: 36px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-item .menu-box-list-unit-img {
  position: relative;
  height: 108px;
  width: 210px;
  margin: 0 20px;
}

.mega-item a.ssale-link {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #f16d7f;
  text-decoration: none;
  text-transform: uppercase;
  line-height: .5;
  text-align: right;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  display: block;
  cursor: pointer;
  width: 162px;
  height: 80px;
}

.mega-item a.ssale-link img {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.mega-item a.ssale-link p {
  z-index: 3;
  position: relative;
  right: 5px;
  bottom: -15px;
}

.mega-item .menu-box-list-unit-img {
  bottom: 13px;
  right: 11px;
}

.menu li:hover .ssale-link p {
  -webkit-animation: saleAnim 1s linear 0s infinite normal;
          animation: saleAnim 1s linear 0s infinite normal;
}

@-webkit-keyframes saleAnim {
  0% {
    color: white;
  }
  100% {
    color: #f16d7f;
    -webkit-transform: translate(-20px, 0) scale(1.25);
            transform: translate(-20px, 0) scale(1.25);
  }
}

@keyframes saleAnim {
  0% {
    color: white;
  }
  100% {
    color: #f16d7f;
    -webkit-transform: translate(-20px, 0) scale(1.25);
            transform: translate(-20px, 0) scale(1.25);
  }
}

.mega-second-level a {
  display: block;
}

.mega-second-level a:hover {
  color: #f16d7f;
}

.last:hover .megabox {
  right: 0;
  left: auto;
}

.last:hover .megabox:before {
  right: 56px;
  left: auto;
}

.mega-heading {
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding: 8px;
  margin-top: 0;
}

.menu-list:hover .megabox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content.main {
  background-color: #e9e9e9;
}

#man {
  height: 614px;
  background: url(img/man.jpg) no-repeat 10px -190px/auto 1134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan {
  border-left: 12px solid #f16d7f;
  padding-left: 20px;
  height: 99px;
}

span#the_brand {
  font-size: 60px;
  text-transform: uppercase;
  display: block;
  font-weight: 900;
  line-height: 50px;
}

span#the_brand_of {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 64px;
}

.quadro_banner {
  margin-top: 98px;
}

.quadro_banner .quadro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  -ms-grid-rows: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
  grid-row-gap: 20px;
}

.quadro_banner .quadro .quadro_inner.first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.quadro_banner .quadro .quadro_inner.third {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.quadro_inner.first a {
  background: url(img/for-men.jpg) no-repeat center/cover;
}

.quadro_inner.second a {
  background: url(img/for-women.jpg) no-repeat center/cover;
}

.quadro_inner.fourth a {
  background: url(img/accessories.jpg) no-repeat center/cover;
}

.quadro_inner.third a {
  background: url(img/kids.jpg) no-repeat center/cover;
}

.quadro_inner {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quadro_inner:hover .corner-left-top {
  background-color: #f16d7f;
}

.quadro_inner:hover .corner-left-top .pink {
  color: #ffffff;
}

a.quadro_inner_a {
  text-decoration: none;
  color: #222;
  font-weight: 700;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  height: 100%;
}

.first a.quadro_inner_a:hover {
  -webkit-transform: translate(-5%, -5%) scale(1.1);
          transform: translate(-5%, -5%) scale(1.1);
  -webkit-box-shadow: 0 0 30px #f16d7f;
          box-shadow: 0 0 30px #f16d7f;
}

.second a.quadro_inner_a:hover {
  -webkit-transform: translate(5%, -5%) scale(1.1);
          transform: translate(5%, -5%) scale(1.1);
  -webkit-box-shadow: 0 0 30px #f16d7f;
          box-shadow: 0 0 30px #f16d7f;
}

.third a.quadro_inner_a:hover {
  -webkit-transform: translate(5%, 5%) scale(1.1);
          transform: translate(5%, 5%) scale(1.1);
  -webkit-box-shadow: 0 0 30px #f16d7f;
          box-shadow: 0 0 30px #f16d7f;
}

.fourth a.quadro_inner_a:hover {
  -webkit-transform: translate(-5%, 5%) scale(1.1);
          transform: translate(-5%, 5%) scale(1.1);
  -webkit-box-shadow: 0 0 30px #f16d7f;
          box-shadow: 0 0 30px #f16d7f;
}

.corner-left-top {
  position: relative;
  background-color: #fff;
  width: 180px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 27px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.corner-left-top span {
  display: block;
  width: 100%;
  line-height: 20px;
  height: 25px;
  margin-left: 14px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.corner-left-top span.pink {
  font-size: 23px;
}

.cards-block {
  padding-top: 60px;
  padding-bottom: 70px;
}

.cards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.card-href {
  text-decoration: none;
  color: #222;
  display: block;
}

a.card-href:hover {
  -webkit-box-shadow: 0 10px 10px #ccc;
          box-shadow: 0 10px 10px #ccc;
}

.card {
  margin-bottom: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

.card > .card-href > img {
  width: 262px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card h3.name {
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: 400;
}

.card a {
  padding-bottom: 20px;
  position: relative;
  width: 261px;
}

.card .annotation {
  padding: 0 20px;
}

.card > .card-href:hover > img {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.card button.to_cart:hover {
  background-color: #f16d7f;
  border-color: #f16d7f;
}

p.under-header {
  color: #9f9f9f;
  margin-bottom: 56px;
}

a .to_cart {
  position: absolute;
  left: 50%;
  top: 118px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover .to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.3);
}

.card-href:hover img.add-to-cart-image {
  display: block;
}

button#browse_all {
  width: 200px;
  text-align: left;
  background: #f16d7f;
  line-height: 1;
  display: block;
  margin: 20px auto;
  padding-left: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button#browse_all:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  background: #fff;
}

button#browse_all i.fa-long-arrow-alt-right {
  margin-left: 10px;
}

.offers-block {
  margin-bottom: 90px;
}

.offers-block figure.offer img.offer-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65px;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
  -ms-flex: 0 0 50px;
      flex: 0 0 50px;
  margin-right: 30px;
}

.banner-offers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-offers-wrap .left-offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 780px;
          flex: 0 0 780px;
  color: #fff;
  background: url(img/banner-bottom.jpg) no-repeat -10px top/113%;
}

p.under-caption {
  font-size: 15px;
  font-weight: 300;
}

figure.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

figure.offer img.offer-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}

figure.offer figcaption {
  font-size: 22px;
}

.banner-offers-wrap .right-offer {
  background-color: #222;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0 20px;
}

.offer-slogan {
  font-size: 53px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20% 0 0 40px;
}

.offer-slogan span.smaller {
  font-size: 32px;
  line-height: 1.6;
  display: block;
}

.seasand {
  padding-top: 90px;
  background: url(img/beach-bg.jpg) no-repeat center/cover;
  min-height: 480px;
}

.sand-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sand-left {
  width: 604px;
}

.sand-left .fig-all-wrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sand-left input {
  display: none;
}

.sand-left .but {
  display: inline-block;
  padding-top: 40px;
  width: 46px;
  margin-right: 10px;
  border-bottom: 5px solid #ccc;
}

.sand-left div.but.pink {
  border-bottom: 5px solid #f16d7f;
}

.figures {
  overflow: hidden;
}

.fig-all-wrap figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
}

.fig-all-wrap figure img {
  margin-right: 30px;
  height: 90px;
}

.fig-wrap .quot {
  color: #222;
  font-weight: 300;
  line-height: 1.4;
}

.fig-wrap .quot figcaption.pink {
  margin-top: 18px;
}

.fig-wrap .quot sub {
  color: #222;
  font-weight: 300;
}

.subscribe h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.under-subscribe {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

input#sub-email {
  padding: 20px 10px 20px 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 0 solid #e1e1e1;
  background-color: #e1e1e1;
  margin: 0;
  width: 290px;
}

input#sub-submit {
  padding: 20px 35px 20px 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #fff;
  line-height: 1;
  margin-left: -3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input#sub-submit:hover {
  border: 1px solid #f16d7f;
  background-color: #fff;
  color: #f16d7f;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 90px;
}

.triple-bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: calc(100% - 480px);
}

.logo-bottom {
  width: 480px;
}

.logo-bottom p {
  color: #898989;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}

.menu-column ul.bot-menu-ul {
  padding: 0;
  list-style: none;
}

.menu-column p.pink {
  margin-top: 0;
}

a.bot-a {
  text-decoration: none;
  color: #898989;
  line-height: 2.5;
  display: block;
}

a.bot-a:hover {
  color: #f16d7f;
}

.foot {
  background-color: #e6e6e6;
}

.foot .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot .socials {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.foot .socials a {
  text-decoration: none;
  color: #b3b3b3;
  background-color: #f7f7f7;
  padding: 7px;
  width: 32px;
  display: block;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.foot .socials a:hover {
  background-color: #f16d7f;
  color: #fff;
}

span.foot-copy {
  color: #7a7a7a;
  font-weight: 300;
  margin: 30px 0;
  display: inline-block;
}

/*section.html*/
.aside_left {
  width: 240px;
}

li.menu-list.active {
  border: 0;
  border-bottom: inset 3px solid #f16d7f;
}

.head-wide {
  background-color: #f8f3f4;
}

.head-wide-wrap {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-wide-wrap h1 {
  text-transform: uppercase;
}

.breadcrumbs span {
  color: #939292;
  font-weight: 300;
}

.breadcrumbs span .pink {
  font-weight: 400;
}

.aside-conts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

details.shop-accord:not(:first-of-type) {
  margin-top: 30px;
}

details.shop-accord summary {
  text-transform: uppercase;
  padding: 10px;
  border-left: 5px solid #f16d7f;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
}

details.shop-accord summary:after {
  font-weight: 900;
  font-family: "Font Awesome 5 free", sans-serif;
  content: "\f0d7";
  margin-left: 10px;
}

details.shop-accord[open] summary {
  color: #f16d7f;
}

details.shop-accord[open] summary:after {
  content: "\f0d8";
}

.shop-div ul {
  list-style: none;
  padding-left: 20px;
}

.shop-div ul li {
  line-height: 2.5;
}

.shop-div ul li a {
  color: #6f6e6e;
  text-decoration: none;
  display: block;
}

.shop-div ul li a:hover {
  color: #f16d7f;
}

.main_blocks {
  width: calc(100% - 34px - 240px);
}

.checkers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checker-title {
  color: #6f6e6e;
  text-transform: uppercase;
  padding: 10px;
}

.checker-content > div {
  margin: 14px 10px;
  color: #6f6e6e;
  font-size: 14px;
}

.size .checker-content > div {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 0;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.8;
  cursor: pointer;
}

.size .checkbox:checked {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

.size .checkbox:checked:before {
  position: absolute;
  left: 2px;
  top: -4px;
  display: block;
  /*content: '\2713';
                text-align: center;
                color: #FFF;
                font-family: Arial;*/
  font-weight: 900;
  font-family: "Font Awesome 5 free", sans-serif;
  content: "\f14a";
  font-size: 14px;
}

.size .checkbox:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.size input[type="checkbox"] {
  margin-right: 10px;
}

.size label {
  margin-right: 10px;
}

span.checker-divider {
  margin: 0 12px;
  color: #e8e8e8;
}

/*range*/
.min-max-slider {
  position: relative;
  width: 260px;
  text-align: center;
  margin-bottom: 50px;
}

.min-max-slider > label {
  display: none;
}

.min-max-slider > .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  position: relative;
}

.min-max-slider > .legend > * {
  font-size: small;
  opacity: 0.25;
}

.min-max-slider > input {
  cursor: pointer;
  position: absolute;
  height: 10px;
  -webkit-appearance: none;
  outline: none !important;
  background: transparent;
}

.min-max-slider > input#min {
  background-image: -webkit-gradient(linear, left top, right top, from(#eeeeee), color-stop(0%, #f16d7f), to(#f16d7f));
  background-image: linear-gradient(to right, #eeeeee 0%, #f16d7f 0%, #f16d7f 100%);
}

.min-max-slider > input#max {
  background-image: -webkit-gradient(linear, right top, left top, from(#eeeeee), color-stop(0%, #f16d7f), to(#f16d7f));
  background-image: linear-gradient(to left, #eeeeee 0%, #f16d7f 0%, #f16d7f 100%);
}

.min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: #f16d7f;
  cursor: pointer;
  border: 1px solid #f16d7f;
  border-radius: 100%;
}

.min-max-slider > input::-webkit-slider-runnable-track {
  cursor: pointer;
}

span.value {
  height: 1.7em;
  font-weight: bold;
  display: inline-block;
  position: absolute;
}

span.value:before {
  content: "$";
  display: inline-block;
}

span.lower.value {
  left: 0;
  bottom: -17px;
}

span.upper.value {
  right: 0;
  bottom: -17px;
}

.checker-content .min-max-slider {
  margin-top: 0;
}

/*end range*/
.quan-filter {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 30px 0;
}

.filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-left-part legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 176px;
}

.filter-left-part legend span:first-child {
  padding: 9px;
  display: inline-block;
  background: #fff;
  border: 1px solid #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #6f6e6e;
}

.quan-filter select::-ms-expand {
  display: none;
}

.filter-left-part {
  margin-right: 20px;
}

.quan-filter select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  padding: 6px 9px 6px 6px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: 1.5;
  outline: none;
  border: 1px solid #ebebeb;
  color: #717070;
  height: 39px;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jselect {
  display: inline-block;
}

.pag-wrap button#browse_all {
  margin: 0;
  width: 120px;
}

.pagination {
  padding: 14px 4px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pag-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.pag {
  width: 30px;
  color: #c4c4c4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

a.pag:hover {
  color: #f16d7f;
}

a.pag.active {
  color: #f16d7f;
}

.button-vice {
  width: 100px;
  height: 40px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.button-vice:hover {
  background-color: #f16d7f;
  color: #fff;
}

.offers-wide {
  background-color: #222222;
  color: #fff;
  margin-top: 80px;
}

.whole-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.whole-offer figure.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.whole-offer img.offer-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0;
  margin-bottom: 30px;
}

/** product*/
.banner-slide {
  background-color: #f7f7f7;
  position: relative;
}

.banner-slide a {
  display: block;
}

.banner-slide a img {
  margin: auto;
  display: block;
  position: relative;
}

a.slider-prev {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  text-align: center;
  color: #fff;
  background-color: #d8d8d8;
  line-height: 2.5;
}

a.slider-next {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  text-align: center;
  color: #fff;
  background-color: #d8d8d8;
  line-height: 2.5;
}

.container.product {
  border: 1px solid #eaeaea;
  padding-top: 60px;
  position: relative;
  top: -40px;
  background-color: #fff;
  padding-bottom: 120px;
}

.product-content {
  width: 615px;
  margin: auto;
  text-align: center;
}

.product-content h1 {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 26px;
}

.pre-header.pink {
  font-size: 14pt;
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 24px;
}

.underline-pink {
  width: 88px;
  margin: auto;
  height: 3px;
  background-color: #f16d7f;
  position: relative;
  top: -2px;
}

p.prod-descr {
  line-height: 1.5;
  font-weight: 300;
  margin-top: 54px;
}

.materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px auto;
  text-transform: uppercase;
}

.materials .material {
  margin-right: 40px;
}

.materials span.mat-desc {
  color: #dbdbdb;
}

.prod-price.pink {
  font-size: 24px;
  margin: 50px 0;
}

.triptih {
  border-top: 1px solid #eaeaea;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
}

.triptih > div > p {
  text-transform: uppercase;
}

.triptih select {
  -webkit-appearance: none;
}

.triptih input, .triptih select {
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  background-color: white;
  padding: 7px;
  height: 40px;
  border-radius: 4px;
  width: 150px;
}

.triptih > div {
  text-align: left;
}

button#add-to-cart-wide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: white;
  border: 1px solid #f17182;
  border-radius: 4px;
  color: #ef5b70;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button#add-to-cart-wide svg {
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button#add-to-cart-wide:hover {
  background-color: #f17182;
  color: #fff;
}

button#add-to-cart-wide:hover svg {
  -webkit-filter: brightness(4);
          filter: brightness(4);
}

.also {
  text-align: center;
  text-transform: uppercase;
  font-size: 24pt;
  color: #4d4d4d;
  margin: 60px;
}

.cards-wrap-outcontainer {
  padding-bottom: 40px;
}

/** checkout.html */
.checkout-wrap {
  color: #222222;
}

.checkout-wrap details.checkout-detail {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 60px;
  margin-top: 40px;
}

.checkout-wrap .checkout-sides-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-wrap .checkout-sides-wrap > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px;
}

.checkout-wrap .container {
  padding: 24px 15px;
  margin: 50px auto;
}

.checkout-wrap .checkout-detail summary {
  list-style: none;
  font-size: 16pt;
  font-weight: 600;
}

.checkout-wrap label {
  display: block;
}

.checkout-wrap .field-title {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 13pt;
}

.checkout-wrap p.subtitle {
  color: #b3b2b2;
}

.checkout-wrap ul.reg-check {
  list-style: none;
  color: #b3b2b2;
  padding-left: 0;
  line-height: 2;
  margin: 30px 0;
}

.checkout-wrap ul.reg-check li:before {
  content: "\f101";
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin-right: 4px;
}

.checkout-wrap input#login,
.checkout-wrap input#pass {
  height: 50px;
  width: 100%;
  border: 1px solid #ebebeb;
  margin: 20px 0 0;
  padding: 0 20px;
}

.checkout-wrap .right-checkout-side label {
  margin: 30px 0 0 0;
}

.checkout-wrap .bw-button {
  margin-top: 30px;
}

.checkout-wrap a#forgot {
  color: #222;
  text-decoration: none;
  margin-left: 40px;
}

.checkout-wrap a#forgot:hover {
  text-decoration: underline;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrap span {
  line-height: 32px;
  text-transform: uppercase;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  outline: none;
}

.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  border: 2px solid #222;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 11px 11px;
}

.custom-radio:focus + label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-radio:checked + label::before {
  border-color: #222;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23222'/%3e%3c/svg%3e");
}

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

button.bw-button {
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 175px;
  height: 50px;
}

button.bw-button:hover {
  background-color: #222;
  color: #fff;
}

details,
summary {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

/** shopping cart */
.shopping-cart-wrap {
  padding: 60px 0;
}

.shopping-cart-wrap .head-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart-wrap .head-line > div {
  font-size: 13pt;
  text-transform: uppercase;
}

.shopping-cart-wrap .item-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ebebeb;
  margin-top: 24px;
  padding-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart-wrap .cart-quan input[type="number"] {
  border: 1px solid #ebebeb;
  padding: 12px;
  max-width: 70px;
  color: #bfbfbf;
}

.shopping-cart-wrap i.fas.fa-times-circle:hover {
  cursor: pointer;
  color: initial;
}

.shopping-cart-wrap .cart-image-and-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  width: 100%;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.shopping-cart-wrap .cart-image-and-description img {
  margin-right: 40px;
}

.shopping-cart-wrap .cart-image-and-description p.item-title {
  text-transform: uppercase;
}

.shopping-cart-wrap .cart-image-and-description .item-description span {
  color: #575757;
  display: block;
}

.shopping-cart-wrap .cart-image-and-description .item-description span span {
  color: #bebebe;
  display: inline;
}

.shopping-cart-wrap .cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.shopping-cart-wrap .head-line > div:not(:first-of-type),
.shopping-cart-wrap .item-line > div:not(:first-of-type) {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shopping-cart-wrap .item-line > div:not(:first-of-type) {
  color: #bfbfbf;
}

.shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shipping .field-title {
  text-transform: uppercase;
  font-size: 16pt;
  margin-bottom: 20px;
}

.shipping label {
  display: block;
  margin-bottom: 30px;
}

.shipping select#country {
  -webkit-appearance: none;
}

.shipping select#country,
.shipping input {
  border: 1px solid #ebebeb;
  color: #b1b1b1;
  width: 100%;
  padding: 14px;
}

.shipping .shipping-part {
  width: 100%;
  margin: 0 40px 0 0;
}

.shipping .shipping-part:last-child {
  margin: 0;
  text-align: right;
}

.shipping .grayed {
  background-color: #f5f3f3;
  padding: 40px;
}

.shipping .shipping-subtitle {
  font-weight: 300;
  margin-bottom: 30px;
}

.shipping button.bw-button-small {
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 140px;
  height: 40px;
  font-size: 11pt;
}

.shipping button.bw-button-small:hover {
  background-color: #222;
  color: #fff;
}

.shipping .total-subtitle {
  font-size: 16pt;
  text-transform: uppercase;
}

.shipping span.grand-total {
  margin-right: 40px;
}

.shipping span.sub-total {
  text-transform: uppercase;
  margin-right: 40px;
}

.shipping button[type="submit"] {
  width: auto;
  text-transform: uppercase;
  height: 50px;
  padding: 0 30px;
  margin: 40px 0 0;
}

.shipping input[type="text"]::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping input[type="text"]:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping input[type="text"]::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping input[type="text"]::placeholder {
  color: #b1b1b1;
}

#top-search + img {
  display: none;
}

@media (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 0 1%;
  }
  .menu-list:hover .megabox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 63vw;
  }
  .menu-list:hover .megabox .mega-item {
    margin-right: 26px;
  }
  .menu-list:hover .megabox .mega-item .menu-box-list-unit-img {
    width: 160px;
  }
  .menu-list:hover .megabox .mega-item .menu-box-list-unit-img img {
    width: 100%;
  }
  .menu-list:hover .megabox .mega-heading {
    width: 170px;
  }
  .offers-block .banner-offers-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offers-block .left-offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .offers-block .right-offer {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #man {
    background: url(img/man.jpg) no-repeat 31% -180px/auto 1134px;
  }
  .quadro_banner .quadro {
    -ms-grid-rows: 240px 240px 240px;
        grid-template-rows: 240px 240px 240px;
  }
  .quadro_banner a.quadro_inner_a:hover {
    -webkit-transform: none;
            transform: none;
  }
  .cards-wrap .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 23%;
            flex: 1 0 23%;
  }
  .cards-wrap .card a {
    margin: auto;
  }
  .offers-block .offer-slogan {
    height: 300px;
  }
  input#sub-email {
    width: 240px;
  }
  .footer .container {
    padding: 100px 1% 90px;
  }
  .sand-left {
    width: 450px;
  }
  .sand-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fig-all-wrap figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

@media (max-width: 1024px) {
  #man {
    background: url(img/man.jpg) no-repeat right 0/auto 100%;
    height: 500px;
  }
  .header input[type=search] {
    width: 160px;
  }
  .quadro_inner.first a {
    background-position: right center;
  }
  .cards-block .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 920px) {
  .header .menu {
    display: none;
  }
  .header .menu .menu-list:hover .megabox {
    position: relative;
    display: none;
    width: 100%;
  }
  .header .menu i.submenu-expand {
    display: inline-block;
    position: absolute;
    right: 22px;
    top: 10px;
    padding: 4px;
    cursor: pointer;
  }
  .header .menu .menu-list .megabox {
    position: relative;
  }
  .header .menu .menu-list .megabox .mega-item .menu-box-list-unit-img {
    width: 160px;
  }
  .header .menu .menu-list .megabox .mega-item .menu-box-list-unit-img img {
    width: 160px;
  }
  .header .menu .menu-list .megabox:before {
    display: none;
  }
  .header .menu .mega-label input:checked + i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 14px;
  }
  .header .menu .mega-label input:checked + i + .megabox {
    display: block;
    width: 100%;
  }
  .header .menu ul ul {
    padding-left: 0;
  }
  .header .menu .mega-heading {
    padding: 8px 8px 0 0;
    margin-bottom: 2px;
    border-bottom: transparent;
  }
  .header .menu .mega-item {
    margin-bottom: 20px;
  }
  .header .container__inner {
    height: 70px;
  }
  .header .header__left-part {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
  .header .header__rightmost-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    width: 60px;
  }
  .header .my_account i.fal.fa-user.account {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .my_account button#my_account {
    width: 67px;
  }
  .header .my_account button#my_account span {
    display: none;
  }
  .header #menu-check + img.burger-img.lines {
    display: block;
  }
  .header #menu-check + img + img.burger-img.cross {
    display: none;
  }
  .header #menu-check:checked + img.burger-img.lines {
    display: none;
  }
  .header #menu-check:checked + img + img.burger-img.cross {
    display: block;
  }
  .header #menu-check:checked + img + img + .menu {
    display: block;
    height: 100%;
    width: 30vw;
    position: absolute;
    right: 0;
    background-color: #fff;
    top: 60px;
    border: 1px solid #eeeeee;
    z-index: 3;
  }
  .header #menu-check:checked + img + img + .menu > ul {
    display: block;
    background-color: #fff;
  }
  .header label#label-for-menu-check {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .header label#label-for-menu-check img.burger-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
  }
  .header label#label-for-menu-check img.burger-img.cross {
    width: 33px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 3px;
  }
  .checkers {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo-bottom {
    width: 50%;
    padding-right: 10px;
  }
  .shipping .grayed {
    padding: 20px;
  }
  .shipping span.grand-total {
    margin-right: 30px;
  }
  .sand-left {
    width: 410px;
  }
  input#sub-email {
    width: 200px;
  }
  input#sub-submit {
    padding: 20px;
  }
  .checkers-block .container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkers-block .aside_left {
    width: 100%;
  }
  .checkers-block .main_blocks {
    width: 100%;
    margin-top: 20px;
  }
  .checkers-block .main_blocks .pag-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkers-block .main_blocks .pag-wrap .pagination {
    margin-bottom: 20px;
  }
  .offers-wide .whole-offer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner-slide a img {
    width: 100%;
  }
  .product-content-out .product-content {
    width: 100%;
  }
  .product-content-out .triptih {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-content-out .product {
    top: 0;
  }
  .banner-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner-slide a.slider-prev,
  .banner-slide a.slider-next {
    position: relative;
    top: unset;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .container .logo-bottom {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .footer .container .triple-bottom-menu {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .quadro_banner .quadro {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (240px)[4];
        grid-template-rows: repeat(4, 240px);
  }
  .quadro_banner .quadro .quadro_inner {
    grid-row: initial !important;
  }
  #top-search + img {
    display: block;
  }
  .container {
    width: 100%;
    padding: 0 2%;
  }
  #man {
    height: 410px;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 25%;
  }
  .header {
    margin: 0;
  }
  .header #menu-check:checked + img + img + .menu {
    width: 86vw;
  }
  .header .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -100px;
    width: 100%;
    background-color: #fff;
    left: 0;
  }
  .header .fa-search {
    display: block;
    font-size: 26px;
  }
  .header span.header__logo-name {
    display: none;
  }
  .header .select {
    margin: 6px 0 6px 13px;
  }
  .header label {
    margin: initial;
  }
  .fa-search {
    display: block;
  }
  .sand-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  input#sub-email {
    width: 190px;
    margin-bottom: 100px;
  }
  .cards-wrap .card:last-child {
    display: none;
  }
  .quadro_banner .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offers-block .right-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping-cart-wrap .head-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shopping-cart-wrap .head-line > div {
    font-size: 9pt;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    margin-bottom: 0;
  }
  .shopping-cart-wrap .cart-image-and-description img {
    height: 100%;
    margin-right: 20px;
  }
  .shopping-cart-wrap .item-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shopping-cart-wrap .cart-image-and-description {
    margin-bottom: 20px;
  }
  .shopping-cart-wrap .cart-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shipping {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .shipping .shipping-part {
    margin: 0 0 50px;
  }
  .footer .container {
    display: block;
  }
  .footer .logo-bottom {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .footer .triple-bottom-menu {
    width: 100%;
  }
  .footer .container {
    padding: 50px 4% 90px;
  }
  .footer .triple-bottom-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .menu-column {
    width: 100%;
  }
  .banner-offers-wrap .left-offer {
    background: url(img/banner-bottom.jpg) no-repeat center/cover;
  }
  #top-search:checked + img + .header__search {
    top: 60px;
    left: 0;
    width: 100%;
  }
  .sand-left {
    width: 100%;
  }
  .fig-all-wrap figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 286px;
            flex: 0 0 286px;
  }
  .fig-all-wrap figure img {
    margin-right: 10px;
    height: 90px;
  }
  details.basket .megabox {
    z-index: 10;
    display: block;
    margin: 20px 0 0;
    right: -160px;
  }
  details.basket .megabox:before {
    left: unset;
    right: 168px;
  }
  .checkout-wrap .checkout-sides-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkout-wrap details.checkout-detail {
    padding-bottom: 40px;
    margin-top: 30px;
  }
  .checkout-wrap .checkout-sides-wrap > div {
    padding: 0;
    margin-bottom: 40px;
  }
  span#the_brand_of {
    line-height: 40px;
  }
  .slogan {
    height: 129px;
  }
}

@media (max-width: 320px) {
  .fig-all-wrap figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 230px;
            flex: 0 0 230px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  input#sub-email {
    width: 99%;
    margin-bottom: 0;
    border-radius: 30px 30px 0 0;
    text-align: center;
  }
  input#sub-submit {
    width: 100%;
    border-radius: 0 0 30px 30px;
    margin-bottom: 40px;
  }
  .sand-left {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */