<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .active{ text-decoration: line-through;}
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

  <div id="app">

    <input v-model="title">
    <select v-model="select"> 
      <option v-for="p of projects" v-bind:value="p">{{ p.name }}</option>
    </select>

    <button v-on:click="onAdd">Добавить</button>

    <hr>

      <select v-model="filter"> 
        <option v-bind:value="null">все</option>
        <option v-for="p of projects" v-bind:value="p">{{ p.name }}</option>
      </select>

      <input type="checkbox" v-model="doneOnly" /> - только не выполненные

    <hr>
    
    <div v-if="list.length > 0">
      <div v-for="task of tasks" v-bind:class="{ active:task.done }">
        <input type="checkbox" v-model:checked="task.done" />
        {{ task.title }}
        <button v-on:click="del(task.id)">Удалить</button>
      </div>
    </div>

    <div v-if="list.length == 0">
      <p>Нет элементов для отображения</p>
    </div>

  </div>


  
  <script src="main.js"></script>
</body>
</html>